
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main1{

    height: 50%;
    width: auto;
    /* border: 1px  solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    margin-top: 30vh;
    
    
    

} 

#box1{

    height: auto;
    width: auto;
    border: 1px solid black;
    background-color: black;
    color: white;
}